@import "fonts";
.pagination {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  color: black;
  margin-top: 1rem;
  position: absolute;
  bottom: 30px;
  right: 0;

  .page-numbers {
    list-style: none;
    display: flex;

    &__previous-btn {
      list-style: none;
      &_btn {
        font-family: $font-main;
        border: none;
        background-color: transparent;
      }
    }

    &__next-btn {
      list-style: none;
      border: none;
      &_btn {
        font-family: $font-main;
        border: none;
        background-color: transparent;
      }
    }

    li {
      //background-color: deeppink;
      padding: 4px;
      margin-right: 4px;
      border-radius: 4px;
      border: 1px solid grey;
      cursor: pointer;

    }

    li.active {
      background: linear-gradient(45deg, rgba(215, 124, 21,0.5) 0%, rgba(243, 139, 28,0.5) 35%, rgba(215, 124, 21,0.7) 100%);
      color: white;
    }
  }
}
