@import "app_style";
@import "pagination_style";
@import "modal_style";
@import "page_style";
@import "fonts";

body{
  margin: 0;
  overflow: hidden;
  font-family: $font-main;
}

.background{
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #f9fbf7, #C9D8FF);
}

.content{
  background-color: white;
  box-sizing: border-box;
  height: 400px;
  width: 530px;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
}

.pageHeader {
  //background-color: lawngreen;
  box-sizing: border-box;
  height: 70px;;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  //background-color: #0086e4;
  opacity: 0.4;
  height: 120px;
  left: 80px;
  top: 0;
  position: absolute;
}
